@tailwind base;
@tailwind components;
@tailwind utilities;

html:not(.dark) {
    --color-base: 235 86 0;
    --color-accent: 247 137 74;
    --color-darker: 201 74 0;
    --color-text: 255 255 255;
}

html.dark {
    --color-base: 117 41 0;
    --color-accent: 155 56 3;
    --color-darker: 50 20 0;
    --color-text: 220 220 220;
}

@layer base {
    body {
        @apply text-text font-sans font-light bg-base;
    }
    h1 {
        @apply text-7xl font-medium;
    }
    h2 {
        @apply text-4xl font-medium;
    }
    h3 {
        @apply text-xl font-normal;
    }

    .briq-logo {
        @apply font-display font-semibold;
    }

    /* Overwrite the default outline color */
    button, a {
        @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-darker;
    }

    .btn {
        @apply bg-base rounded px-3 py-1;
        @apply border-base border-2;
        @apply shadow-sm;
        @apply font-light;
        min-height: 2.5rem;
    }
    .btn:not(:disabled):hover {
        @apply border-b-2 border-deep-blue;
    }
    .btn:not(:disabled):active {
        @apply border-2 border-deep-blue bg-accent;
    }
    .btn:disabled {
        @apply bg-gray-300 dark:bg-gray-700;
        @apply text-gray-600 dark:text-gray-500 dark:border-black;
    }

    .alternate-buttons .btn {
        @apply font-semibold border-text rounded-lg border-4 px-1;
    }    
    .alternate-buttons .btn:not(:disabled):hover {
        @apply border-4 border-deep-blue;
    }
    .alternate-buttons .btn:not(:disabled):active {
        @apply border-4 bg-accent;
    }

    .alternate-buttons .btn:disabled {
        @apply dark:border-black;
    }

    input, select {
        @apply rounded px-2 py-0.5 bg-white text-black dark:bg-darker dark:text-text;
    }
}
