
html.v2design {
    --color-body: 250 250 250;
    --color-base: 255 255 255;
    --color-accent: 235 86 0;
    --color-accent-secondary: 255 113 31;
    --color-light-accent: 255 231 217; /*245 170 128;*/
    --color-darker: 230 230 230;
    --color-darkest: 100 100 100;
    --color-dark: 0 0 0;
    --color-text: 43 43 43;
    --color-text-on-accent: 255 255 255;
}

html {
    --color-body: var(--color-base);
    --color-base: 235 86 0;
    --color-accent: 247 137 74;
    --color-darker: 201 74 0;
    --color-text: 255 255 255;
    --color-text-on-accent: 13, 8, 69;
}

html.dark {
    --color-base: 117 41 0;
    --color-accent: 155 56 3;
    --color-darker: 50 20 0;
    --color-text: 220 220 220;
    --color-text-on-accent: 13, 8, 69;
}
